autopep8==1.5
cycler==0.10.0
DateTime==4.3
docxtpl==0.9.0
Jinja2==2.11.2
kiwisolver==1.2.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.18.3
pandas==1.0.3
pycodestyle==2.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2019.3
six==1.14.0
zope.interface==5.1.0
